[Desktop Entry]
Name=Fedorable Maintenance
Comment=Fedora System Maintenance Tool
Exec=fedorable-gui
Icon=fedorable-gui
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=system;maintenance;update;clean;
StartupNotify=true 